<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MysqlConnectionString" value="RGF0YSBTb3VyY2U9MTgwLjE3OS4xMDUuMjQ2O0luaXRpYWwgQ2F0YWxvZz1taXM7VXNlciBJRD1yb290O1Bhc3N3b3JkPWRiQjAhSERhMXdYRzdvO01heCBQb29sIFNpemU9MTAwMDtNaW4gUG9vbCBTaXplPTUwO1Bvb2xpbmc9VHJ1ZTtkZWZhdWx0IGNvbW1hbmQgdGltZW91dD0zNjAwMDA7"/>
		<add key="sms_connstring" value="RGF0YSBTb3VyY2U9MTgwLjE3OS4xMDUuMjQ2O0luaXRpYWwgQ2F0YWxvZz1zd2lmdHNtc2RiO1VzZXIgSUQ9cm9vdDtQYXNzd29yZD1kYkIwIUhEYTF3WEc3bztNYXggUG9vbCBTaXplPTEwMDA7TWluIFBvb2wgU2l6ZT01MDtQb29saW5nPVRydWU7ZGVmYXVsdCBjb21tYW5kIHRpbWVvdXQ9MzYwMDAwOw=="/>
		<add key="mis_connstring" value="RGF0YSBTb3VyY2U9MTgwLjE3OS4xMDUuMjQ2O0luaXRpYWwgQ2F0YWxvZz1taXM7VXNlciBJRD1yb290O1Bhc3N3b3JkPWRiQjAhSERhMXdYRzdvO01heCBQb29sIFNpemU9MTAwMDtNaW4gUG9vbCBTaXplPTUwO1Bvb2xpbmc9VHJ1ZTtkZWZhdWx0IGNvbW1hbmQgdGltZW91dD0zNjAwMDA7"/>
		<add key="adddays" value="-1"/>


		<add key="to_emailid" value="vipul@vivainfomedia.com"/>
		<add key="subject" value="User DLR"/>

		<add key="from_emailid" value="vivateam@vivainfomedia.com"/>
		<add key="credential_emailid" value="vivateam@vivainfomedia.com"/>
		<add key="credential_passworrd" value="teamviva123"/>
		<add key="host_address" value="smtp.gmail.com"/>
		<add key="port" value="25"/>
		<add key="ssl_isactive" value="1"/>
		<add key="bodyhtml_isactive" value="1"/>



		<!--logs Configuration goes here-->
		<add key="strLogFileName" value="Logconfig"/>
		<add key="strlogpath" value="E:\ExceptionLog\SalesPersonMIS\"/>
		<add key="ErrorLogfileName" value="Errorconfig"/>
		<add key="Level0" value="1"/>
		<add key="Level1" value="1"/>
		<add key="Level2" value="1"/>
		<add key="Level3" value="1"/>
		<add key="Level4" value="1"/>
		<add key="writeexception" value="1"/>
		<add key="FileSize" value="10"/>
		<add key="FileSizeFormat" value="mb"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>